@charset "utf-8";

nav{
  display:flex;
  justify-content: space-between;
  background-color: rgb(95, 236, 255);
  height: 350px;
}

body{
  display:flex;
  // justify-content: space-evenly;
  // flex-wrap: wrap;
  // align-content: center;
  // height: 350px;
  // width: 300px;
  background-color: rgb(199, 255, 207);
  // margin-top: 150px;
}

.to-do{
}

.log-in{
  
}

.info{
  
}

.budget{
  
}
